:root {
    --main-color: #ed153e;
    --main-2-color: #be3437;
    --main-3-color: #E40134;
}

@font-face {
    font-family: main;
    src: url('./tahoma.ttf');
}

body {
    margin: 0;
    padding: 0;
}

body, input, button, textarea {
    font-family: main;
}

.translator-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.85);
}

.translator {
}

.translator__sides {
    display: flex;
    margin-bottom: 10px;
}

.translator__side {

}

.translator__side:first-child {
    margin-right: 10px;
}

.translator__options-wrapper {
    position: relative;
}

.translator__selected-option {
    cursor: pointer;
    padding: 10px;
    background: black;
    color: white;
}

.translator__selected-option:hover ~ .translator__options, .translator__options:hover {
    display: block;
}

.translator__options {
    display: none;
    position: absolute;
    background: black;
}

.translator__option {
    cursor: pointer;
    padding: 10px;
    color: white;
    border: 1px solid black;
}

.translator__option:hover {
    background: white;
    color: black;
}

.translator__input {
    resize: none;
    outline: none;
    padding: 10px;
    height: 150px;
    width: 300px;
    border: 1px solid black;
    background: white;
}

.translator__start {
    border: none;
    background: black;
    color: white;
    border: 1px solid black;
    padding: 10px;
    width: 80px;
    cursor: pointer;
}

.translator__start:hover {
    background: white;
    color: black;
}
